.login {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: "";
  
  
  .loginContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .loginInput {
    height: 30px;
    padding: 10px;
  }
  
  .loginBtn {
    background-color: #0071c2;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .loginBtn:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
  }
}